.footer_btn {
  position: fixed;
  bottom: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus {
  padding: 10px 20px;
  border: 3px solid #7e7474;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #525252;
}
.plus:hover {
  background-color: #b3a492;
  color: white;
}
