body {
  font-family: "Montserrat", sans-serif;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffeef4;
  z-index: 1000;
}

.header_logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.header_logoImage {
  color: #7e7474;
  font-size: large;
}

.header_title {
  color: #7e7474;
  margin-left: 5px;
  font-size: 30px;
  caret-color: transparent;
}

.header-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logIn,
.signUp {
  margin-left: 10px;
  padding: 10px 20px;
  border: 3px solid #7e7474;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #525252;
  font-size: 20px;
}
.logIn:hover,
.signUp:hover {
  background-color: #b3a492;
  color: white;
}
.btn {
  padding: 12px;
  margin: 7px;
  border: 3px solid #7e7474;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #525252;
  font-size: 20px;
  line-height: 15px;
  margin-right: 30px;
}
.btn:hover {
  background-color: #b3a492;
  color: white;
}
