.lg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  width: 400px;
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  border-radius: 30px;
  border: 3px solid #7e7474;
}

.form_popup {
  display: flex;
  flex-direction: column;
}

.form_popup label {
  margin-bottom: 12px;
  font-size: 20px;
}

.form_popup input {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 3px solid #7e7474;
  font-size: 15px;
}

.form_popup button,
.close {
  padding: 12px;
  margin: 7px;
  border: 3px solid #7e7474;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #525252;
  font-size: 20px;
  line-height: 15px;
}

.form_popup button:hover,
.close:hover {
  background-color: #b3a492;
  color: white;
}
