.photo-card {
  position: relative;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  width: 20%;
  top: 30px;
}

.photo-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
}

.photo-details {
  text-align: center;
}

.photo-details p {
  margin: 0;
  font-size: 12px;
  color: #333;
}

.photo-details p:first-child {
  font-weight: bold;
}

.photo-details button.like-button {
  background-color: transparent;
  border: none;
  padding: 10px; /* Adjust padding for a medium-sized button */
  text-align: center;
  text-decoration: none;
  font-size: 24px; /* Adjust font size for the heart icon */
  cursor: pointer;
  color: #e74c3c; /* Default color is empty heart */
  transition: color 0.3s;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px; /* Adjust margin for spacing */
}
.photo-details button.like-button.liked {
  color: #e74c3c; /* Full red heart for liked state */
}

.photo-details button.like-button:hover {
  color: #c0392b; /* Darker red on hover */
}

.photo-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photo-details p:not(:first-child) {
  margin-top: 5px;
}
